body {
  height: 100vh;
  background-image: url("http://blogs.plos.org/obesitypanacea/files/2016/12/Christmas-Dinner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0;
}

 main {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2rem;
  border-radius: 0.5rem;
 }

.form {
  width: 90vw;
  font-size: 1.5rem;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
}

.logout {
  margin: 0 auto;
  display: none;
}

input[type="text"]{
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(211, 211, 211, 0.5);
  margin: 0 1rem 1rem 1rem;
}
input[type="text"]:focus {
  background-color: rgba(240, 198, 99, 0.7);
  border: 3px solid white;
  outline: none;
}

.checkbox {
  margin: 1rem;
}

button {
  margin: 1rem 0 1rem 0;
  padding: 1rem 2rem 1rem 2rem;
}

button:focus{
  background-color: rgba(240, 198, 99, 0.5);
  border: 3px solid white;
  outline: white;
}

.modal {
  display: none;
  position:fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color:  rgb(255, 255, 255);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid blue;
  width: 80%;
}

.close {
  color: yellow;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, close:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

.results {
  margin-top: 0;
  display: flex;
  width: 100%;
  height: 40vh;
  font-size: 1rem;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  overflow-y: scroll;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 4rem;
  padding: 1rem 0 0rem 0;
  margin: 0;
}

.userInfo {
  display: none;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
}

.form-section {
  font-family: 'Josefin Sans', sans-serif;
  display: none;
  padding: 2rem 1rem 2rem 1rem;
}
table {
  padding: 1rem 0 1rem 0;
  width: 100%;
}

.table__headings {
  font-size: 1.5rem;
}

th {
  border-bottom: 0.1rem solid;
  width: 20%;
}

td {
  width: 20%;
}

@media (max-width: 1040px) {
  label {
    min-width: 33%;
    display: inline-block;
  }
}

@media (max-width: 450px) {

  label {
    font-size: 1rem;
  }

  .results {
    font-size: 0.5rem;
  }

  .table__headings {
    font-size: 1rem;
  }
}
