body {
  height: 100vh;
  background-image: url("http://blogs.plos.org/obesitypanacea/files/2016/12/Christmas-Dinner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0;
}

#snow{
 	background: none;
 	font-family: Androgyne;
 	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
 	height: 100%;
 	left: 0;
 	position: absolute;
   z-index: 0;
 	top: 0;
 	width: 100%;
 	-webkit-animation: snow 10s linear infinite;
 	-moz-animation: snow 10s linear infinite;
 	-ms-animation: snow 10s linear infinite;
 	animation: snow 10s linear infinite;
 }
 @keyframes snow {
   0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
   50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
   100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
 }
 @-moz-keyframes snow {
   0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
   50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
   100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
 }
 @-webkit-keyframes snow {
   0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
   50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
   100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
 }
 @-ms-keyframes snow {
   0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
   50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
   100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
 }


 main {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2rem;
  border-radius: 1.5rem;
 }

/*.form {
  width: 90vw;
  font-size: 1.5rem;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
}*/

.logout, .addDish {
  margin: 0 auto;
  display: none;
}

input[type="text"],[type="password"]{
  justify-content: flex-start;
  padding: 0.7rem;
  background-color: rgba(211, 211, 211, 0.5);
  margin: 0 1rem 1rem 1rem;
  font-family: 'Josefin Sans', sans-serif;
}
input[type="text"]:focus {
  background-color: rgba(240, 198, 99, 0.7);
  border: 3px solid white;
  outline: none;
}
input[type="password"]:invalid:focus {
  border: 3px solid red;
  outline: none;
}

.passwordMatch {
  border: 3px solid blue;
  outline: none;
}

.passwordNotMatch {
  border: 3px solid red;
  outline: none;
}

.checkbox {
  margin: 1rem;
}

button {
  margin: 1rem 0 1rem 0;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background-color: rgb(0, 51, 0);
}

.button {
  margin: 1rem 0 1rem 0;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background-color: rgb(0, 51, 0);
}

button:focus{
  background-color: rgba(240, 198, 99, 0.5);
  border: 3px solid white;
  outline: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  background-color:  rgb(255, 255, 255);
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  font-family: 'Josefin Sans', sans-serif;
}

.modalContent label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.close {
  display: none;
}

.dishEntry {
  margin-bottom: 1rem;
  width: 80%;
}

.close:hover, close:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

.results {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  height: 40vh;
  font-size: 1rem;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  overflow-y: scroll;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 4rem;
  padding: 1rem 0 2rem 0;
  margin: 0;
}

.userInfo {
  display: none;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
}

table {
  padding: 1rem 0 1rem 0;
  width: 100%;
}

.table__headings {
  font-size: 1.5rem;
}

th {
  border-bottom: 0.1rem solid;
  width: 20%;
}

td {
  width: 20%;
  padding: 0.5rem 0 0.5rem 0;
}

@media (max-width: 1040px) {
  label {
    min-width: 33%;
    display: inline-block;
  }
}

@media (max-width: 450px) {

  label {
    font-size: 1rem;
    text-align: left;
  }

  h1 {
    font-size: 2rem;
  }

  .results {
    font-size: 0.5rem;
  }

  .table__headings {
    font-size: 1rem;
  }

  .modalContent {
    width: 200px;
  }

  input[type="text"],[type="password"] {
    width: 75px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


}
